body{
    margin: 0px;
    box-shadow: 0;
    background: linear-gradient(to bottom, rgb(30, 29, 29), rgb(190, 188, 188));
    
    
}

#main{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    background: linear-gradient(to bottom, rgb(30, 29, 29), rgb(190, 188, 188));
    
}

.section{
    width:33.3%;
    height: fit-content;
    /* background-color:grey; */
    margin: 1rem;
    
}

.subsection{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: white;
    justify-content: center;
    align-items:center;
    border-style: none;

}
.row{
    display: flex;
    flex-direction: row;
    margin-bottom:1rem ;
    background-color: white;
}
.partition{
    margin: 1rem;;
}

.imge{
    width: 12rem;
    height: 12rem;
   
}
img{
    width:12rem;
    height: auto;
    
}

